@import './vars.css';
@import './base.css';
@import './todo.css';
@import './input.css';
@import './popup.css';

.btn {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 7px;
  font-weight: 500;
  font-size: var(--fz-btn);
  text-transform: uppercase;

  &:disabled {
    pointer-events: none;
    background: var(--c-text-disabled);
  }
}

.btn-primary {
  background: var(--c-primary);
  transition: background-color .1s cubic-bezier(.42,0,.58,1);
  color: var(--c-text);
  line-height: 1;

  &:hover {
    cursor: pointer;
    background: var(--c-primary-hover);
  }

  &.active {
    background: var(--c-text-disabled);
  }
}


.text {
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}


footer {
  margin-top: 30px;
  font-size: var(--fz-footer);
  color: var(--c-text-disabled);
  text-align: center;
}